{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["import", "unused-imports"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }],
    "unused-imports/no-unused-imports-ts": "warn",
    "react/no-unknown-property": "off",
    "@typescript-eslint/no-empty-function": "off"
  },
  "ignorePatterns": ["*.config.js"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
