# openssl rand -base64 32 で生成
# NextAuthでJWTを暗号化しトークンをハッシュするために使用
NEXTAUTH_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# DB
DATABASE_URL=mysql://{user}:{password}@{host}:{port}/{db_name}?sslaccept=strict

# Vercel Blob
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_ne0H3GML3GGCpaDQ_dneP5KRkZxIzabFTMiZkAAhnhjkIiY"
