@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  font-family: var(--font-kosugi), var(--font-notojp), sans-serif;
}

.no-scroll {
  overflow: hidden;
  /* position: fixed; */
  width: 100%;
  height: 100%;
}
.highlight {
  background-color: yellow;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .no-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
  .readmore-blur::before {
    content: '';
    width: 100%;
    height: 0px;
    display: block;
    background: linear-gradient(#fff, rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    left: 0;
  }

  .readmore-blur::after {
    content: '';
    width: 100%;
    height: 50px;
    display: block;
    background: linear-gradient(rgba(255, 255, 255, 0), #fff);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
