@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  font-family: var(--font-kosugi), var(--font-notojp), sans-serif;
}

.no-scroll {
  overflow: hidden;
  /* position: fixed; */
  width: 100%;
  height: 100%;
}
.highlight {
  background-color: yellow;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .no-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}
